<div class="header">
  <div class="search-box">
    <input type="text" name="Search" placeholder="Search">
  </div>
  <div class="login-box">
    <button > Log in</button>
  </div>
<div class="clear"></div>
</div>
