<div class="left">
  <div class="logo">
    <a> T </a>
  </div>
  <div class="inner">
    <p><%= link_to "Home", root_url %></p>
    <p>    Artist  </p>
    <p>    Albums    </p>
    <p>    Favourist    </p>
  </div>
</div>
